.bgcolor{
  background-color: blueviolet !important;
}

.bg2color{
background-color: rgb(225, 223, 226) !important;
}

.custom-control-label:before{
  background-color:#fff;
  border:1px solid rgb(77, 76, 76)
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:blueviolet;
}
